div {
  display: block;
}

button {
  border: none;
  background: none;
}

input {
  border: none;
  background: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.delete-button {
  height: min-content;
  color: black;
}

.done {
  text-decoration: line-through;
}
